.article-card{
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 50%;
	/*text-decoration: none;*/
}
.article-card:hover{
	/*box-shadow: 3px 3px 3px #ccc;*/
	cursor: pointer;
	/*text-decoration: none;*/
}
.article-card-image{
	height: 50%;
	width: 50%;
	max-height: 200px;
	max-width: 200px;
}
/*
.article-card-button{
	width: 60%;
	height: 30px;
	background: #eee;
	transition: all 0.3s;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.article-card-button:hover{
	width: 90%;
	height: 50px;
	background: #aaaaff;
	cursor: pointer;
}*/
.article-card-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	padding: 5px;
}

.headlines{
	display: flex;
	flex-wrap: wrap;
}
.big-article-card{
	height: 49%;
	width: 49%;
	margin: 0.25% 0.5% 0.25% 0.5%;
}

.front-page-image{
	height: 100%;
	width: 100%;
	max-width: 100vw;
	max-height: 100vh;
}

@media screen and (max-width: 800px){
	.front-page-image{
		width: 100vw;
	}
}




.journalist-card{
	/*max-width: 100%;
	display: flex;*/
	/*text-decoration: none;*/
}
.journalist-card-image{
	/*max-width: 30%;*/
}

